{% extends "layout.html" %}

{% block template %}
<body style="background-color:white">
    <main>
        <nav class="navbar navbar-expand" style="background-color:white; border:none">
            <div class="container-fluid" style="padding-bottom: 5px; margin-bottom: -8px;">
                <a class="navbar-brand" href="/">
                    <img src="/static/pict1.png" alt="Logo" style="height:40px; width:auto;">
                </a>
            </div>
            <div class="navbar-nav">
                <button type="button" class="btn-close" aria-label="Close" onclick="history.back()" style="margin-right:10px; font-size:x-large">
                </button>
            </div>
        </nav>
        {% block main %}{% endblock %}
    </main>
</body>
{% endblock %}